slick-slide {
    background-color: none;
    &:focus, a {
        outline: none;
      }
}

// .slick-slide {
//   height:200px;
// }

// .slick-slide img {
//   height:200px;
// }

.slick-slide.slick-current {
  border: none;
  outline: none;
  transform: scale(1.8);
  transition: all .4s ease;
}

.slider-div{
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  height: 50%;
  outline: none;
  transform: scale(.4);
  transition: all .4s ease;

  img{
    justify-self: center;
    align-self: center;
    width: 100%;
    max-width: 80vw;
    left: 0; right: 0;
    height: auto;
  }
}
